<% content_for :navbar do %>
  <%= render 'coaches/navbar' %>
<% end %>
<div class="grid">
  <div class="content">
    <h2>My Schedule</h2>

    <%= form_for @schedule, url: schedule_path, method: :patch do |f| %>
      <table>
        <thead>
          <tr>
            <th/>
            <% @schedule_presenter.week.keys.each do |day_name| %>
              <th><%= day_name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% keys = @schedule_presenter.week.keys %>
          <% values = @schedule_presenter.week.values %>
          <% days_count = values.length %>
          <% hours_count = values.first.length %>
          <% (0..hours_count - 1).to_a.each do |hours_index| %>
            <tr>
              <% (0..days_count - 1).to_a.each do |days_index| %>
                <% value = values[days_index][hours_index] %>
                <% if days_index.zero? %>
                <td><%= value[:hour] %></td>
                <% end %>
                <td>
                  <%= check_box_tag("schedule[#{@schedule.abbr_to_day_names[keys[days_index]]}][]",
                                    value[:hour].split(':').first,
                                    value[:booking] == 'YES') %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= f.submit 'Update' %>
    <% end %>
  </div>
</div>
