<div class="content">
  <% if @calendar.month == 1 %>
    <%= link_to('<', dashboards_path(month: 12, year: @calendar.year - 1)) %>
  <% else %>
    <%= link_to('<', dashboards_path(month: @calendar.month - 1, year: @calendar.year)) %>
  <% end %>
  <%= @calendar.month_humanized %> <%= @calendar.year %>
  <% if @calendar.month == 12 %>
    <%= link_to('>', dashboards_path(month: 1, year: @calendar.year + 1)) %>
  <% else %>
    <%= link_to('>', dashboards_path(month: @calendar.month + 1, year: @calendar.year)) %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>
    <tbody>
      <% @calendar.build_array_of_weeks_for.each do |week| %>
        <tr>
          <% week.each do |day| %>
            <td>
              <% if day > 0 %>
                <% if @calendar.date(day) >= Date.today %>
                  <%= link_to(day, bookings_path(date: "#{@calendar.year}-#{@calendar.month}-#{day}")) %>
                <% else %>
                  <span class="inactive"><%= day %></span>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

