<body>
  <navbar>
    <%= link_to('Sign up', '#') %><br>
    <%= link_to('Log In', '#') %>
  </navbar>
  <div class="center jumbotron">
  <h1>Fitness Calendar</h1>

  <h2>
    <% if @calendar.month == 1 %>
      <%= link_to('<', dashboards_path(month: 12, year: @calendar.year - 1)) %>
    <% else %>
      <%= link_to('<', dashboards_path(month: @calendar.month - 1, year: @calendar.year)) %>
    <% end %>
    <%= @calendar.month_humanized %> <%= @calendar.year %>
    <% if @calendar.month == 12 %>
      <%= link_to('>', dashboards_path(month: 1, year: @calendar.year + 1)) %>
    <% else %>
      <%= link_to('>', dashboards_path(month: @calendar.month + 1, year: @calendar.year)) %>
    <% end %>
  </h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Mon</th>
        <th scope="col">Tue</th>
        <th scope="col">Wed</th>
        <th scope="col">Thu</th>
        <th scope="col">Fri</th>
        <th scope="col">Sat</th>
        <th scope="col">Sun</th>
      </tr>
    </thead>
    <tbody>
      <% @calendar.build_array_of_weeks_for.each do |week| %>
        <tr>
          <% week.each do |day| %>
            <td>
              <% if day > 0 %>
                <%= link_to(day, bookings_path(date: "#{@calendar.year}-#{@calendar.month}-#{day}")) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>