<!DOCTYPE html>
<html>
  <head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  </style>
    <title>Fitnesscalendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/alerts' %>
    <div class="grid">
      <% if content_for?(:navbar) %>
        <%= yield(:navbar) %>
      <% else %>
      <div class="logo">
        <%= link_to("Fitness Calendar", dashboards_path) %>
      </div>
      <ul class="navbar">
      <% if customer_signed_in? %>
        <li><%= link_to "My bookings", customer_bookings_path(customer_id: current_customer) %></li>
        <li><%= link_to "Edit profile", edit_customer_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link' %></li>
      <% else %>
        <li><%= link_to "Sign up", new_customer_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Sign in", new_customer_session_path, :class => 'navbar-link'  %></li>
      <% end %>
      </ul>
    <% end %>
    
    <%= yield %>
    </div>
  </body>
</html>
